@{
  ViewBag.Title = "Contact Us";
}
@section scripts
{
  <script src="/Scripts/jquery.validate.min.js"></script>
  <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<div class="span12">
  <div class="whity content">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
      <!-- Each entry should be enclosed inside div with the class "entry" -->
      <div class="entry">
        <div class="padd">
          <!-- Contact Page title -->
          <h2>Contact Us</h2>
          <!-- Contact Page Para -->
          <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis.</p>
        </div>

        <div class="row">
          <div class="span8">
            <div class="padd">
              <div class="co-form">
                <form class="form-horizontal" method="post">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="name">Name</label>
                      <div class="controls">
                        <input type="text" class="input-medium" id="name" name="name" data-val="true" data-val-required="*">
                        <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="email">Email</label>
                      <div class="controls">
                        <input type="text" class="input-medium" id="email" name="email" data-val="true" data-val-required="*" data-val-email="Not Valid">
                        <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="website">Website</label>
                      <div class="controls">
                        <input type="text" class="input-medium" id="website" name="website" data-val="true" data-val-required="*">
                        <span class="field-validation-valid" data-valmsg-for="website" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="comment">Message</label>
                      <div class="controls">
                        <textarea class="input-medium" id="comment" rows="3" name="comment" data-val="true" data-val-required="*"></textarea>
                        <span class="field-validation-valid" data-valmsg-for="comment" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn">Send</button>
                      @if (ViewBag.MailSent != null && ViewBag.MailSent)
                      {
                        <div>Mail Sent!</div>
                      }
                    </div>
                  </fieldset>
                </form>

              </div>
            </div>
          </div>
          <div class="span4">
            <div class="padd">
              <p class="caddress">
                <address>
                  <strong>Dotnet Toolbox Creations</strong><br>
                  1030 Tarah Knolls Circle<br>
                  Centerton, AR 72719<br>
                  <abbr title="Phone">P:</abbr> (479) 685-7259<br><br>
                  <strong>Full Name</strong><br>
                  <a href="mailto:#">troutface29@gmail.com</a>
                </address>
              </p>
            </div>
          </div>
        </div>
        <div class="gmap">
          <div class="padd">
            <!-- Goto Google maps and copy the embed code of your location. Replace the below embed code with your code. -->
            <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3212.636062446436!2d-94.28291468532794!3d36.36959329952059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c90584bf9ba087%3A0xb9af75a2a0c82cd5!2s1030+Tarah+Knolls+Cir%2C+Centerton%2C+AR+72719!5e0!3m2!1sen!2sus!4v1451235704632" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Content Ends Here -->
  </div>
</div>
